.error {
    margin: 100px auto;
    font-weight: bold;
    font-size: large;
    text-align: center;
    font-size: 32px;
    color: #2C3A47;
}

@media (max-width: 500px) {
    .error{
        font-size: 20px;
    }
}