.search-input {
    margin-left: 40vw;
    height: 20px;
    width: 200px;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 10px;
    outline: none;
    font-size: 20px;
    padding: 5px;
    border: 1px solid #7f8c8d;

}

.search-button {
    height: 32px;
    width: 80px;
    border-radius: 5px;
    margin-top: 10px;
    outline: none;
    font-size: 20px;
    border: 4px solid #7f8c8d;
    background-color: #64d3db;
    font-family: Open-sans;
}